<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Translator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Translator.Properties.Settings>
            <setting name="LeftFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="RightFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LeftTransLang" serializeAs="String">
                <value>ko</value>
            </setting>
            <setting name="RightTransLang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="LeftTransResult" serializeAs="String">
                <value>번역할 내용을 입력해주세요.</value>
            </setting>
            <setting name="RightTransResult" serializeAs="String">
                <value>번역된 내용은 여기에 표시됩니다.</value>
            </setting>
        </Translator.Properties.Settings>
    </userSettings>
</configuration>